@{
    ViewBag.Title = "Home Page";
    List<CRM.Repository.ProductModel> products = Model;
}


<main>
    <!-- Product Table Section -->
    @*button to redirect to create page*@
    <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Create New Product</a>
    <section class="row mt-4" aria-labelledby="productListTitle">
        <h2 id="productListTitle">Product List</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Current Stock</th>
                </tr>
            </thead>
            <tbody>
                @if (products != null && products.Any())
                {
                    foreach (var product in products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.ProductName</td>
                            <td>@product.CurrentStock</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">No products available</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>